// Se actualizan variables de Bulma
$family-sans-serif: "Open Sans", "Source Pro", sans-serif;
//$link: $adjacent-1;
$primary:$dark-primary;
$text:$text-color;
$link:$primary;
$link-hover:lighten($link, 15%);
$grey-dark:$text-color;
//Tamaños de tipografías
$size-1: 	 	2.5rem;
$size-2: 	 	2rem;
$size-3: 	 	1.75rem;
$size-4: 	 	1.5rem;
$size-5: 	 	1.25rem;
$size-6:	 	1rem;
$size-7: 	 	0.90rem;