//Tipografías base
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@600&display=swap');
// Colores base
$family-title:'Source Sans Pro', sans-serif;
$family-body:'Open Sans', sans-serif;

$text-color:#2B262C;
$dark-primary:#1A5276;
$darker-primary:#04099C;
$light-primary:#98B2FC;
$light-bkg:#E8EDFB;
$lighter-bkg:#FFFFFF;

$small-icon:60px;